name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: Update Nen Training Progress
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

          # Customização do Conteúdo
          SHOW_TITLE: true
          SECTION_NAME: "waka"
          CODE_LANG: ansi
          TIME_RANGE: last_7_days
          LANG_COUNT: 8
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: false

          # Mensagem de Commit
          COMMIT_MESSAGE: "update waka stats"
          COMMITTER_NAME: "Adeildo Bot"
          COMMITTER_EMAIL: "contato@felipeadeildo.com"

          # Linguagens para ignorar
          IGNORED_LANGUAGES: "Text Markdown YAML JSON TOML"
